* {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

.container2 {
    display: flex;
    width: 100%;
}


.login-form {
    position:absolute;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 3.75rem 1.87rem;
    transition: .5s;
    background:rgb(71, 0, 153);
    box-shadow: 0 0 0.5rem rgb(124, 24, 163)
  }
  .login-form h1, a {
    letter-spacing: 0.3rem;
    margin: 0 1rem 1.25rem;
    color:rgb(250, 239, 255);
    font-size: 1.9rem;
    text-transform:uppercase;
    text-decoration: none;
  
  }
  a {
    color:rgb(149, 109, 224);
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
  
  }
  .login-form input{
    display:block;
    width: 100%;
    padding: 0.625rem 1.25rem;
    box-sizing: border-box;
    margin-top:1rem;
    margin-bottom: 1.25rem;
    border-radius: 0.3rem;
    letter-spacing: 0.1rem;
    color: rgb(77, 0, 221);
    background:rgb(255, 255, 255);
    border: none;
  }
  
  
  h1{
    margin-bottom: 1rem;
  }
  ::placeholder{
    color: rgb(85, 1, 182)
  }
  
  #botao:hover {
    background:rgb(114, 0, 190);
    transition: 0.3s;
    color: #fff;
    box-shadow: 0rem 0rem 1.5rem rgb(255, 39, 201);
  
  }
  #botao {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  
  