* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", serif;
}
body {
  overflow-x: hidden;
  min-height: 170vh;
  background: linear-gradient(
    1deg,
    rgba(77, 7, 164, 1) 20%,
    rgba(15, 0, 86, 1) 85%,
    rgba(10, 0, 42, 1) 100%
  );
  max-height: 100vh;
}


header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nome {
  display:flex;
  margin-left: 1rem;
  color: hsl(0, 0%, 100%);
  font-size: 1rnav-linkem;
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: end;Z'
  gap: 0.2rem;
}

.nav-menu li a {
  text-decoration: none;
  padding: 0.4rem 1rem;
  color: rgb(77, 7, 164);
  margin-right: 0.5rem;
  border-radius: 0.55rem;
  background-color: rgb(243, 234, 255);
}

.nav-menu li a:hover {
  background: rgb(106, 12, 221);
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parallax img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.parallax img#nuvem-meio, img#nuvem-fundo, img#nuvem-frente, img#foguete  {
  -webkit-filter: drop-shadow(4px -1px 2px #222);
}

.parallax img#foguete {
  bottom: -4rem;
  z-index: 1;
}
#titulo {
  display:flex;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  color: rgb(255, 255, 255);
}
.sub {
  color: white;
  position: relative;
  padding: 1rem;
  font-size: 3rem;
}
.subtitulo {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  padding: 1rem;
}

h1 {
    padding: 1rem;
}

#estrelas {
  mix-blend-mode: soft-light;

}

.rodape a{
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  font-size: 3rem;
  color: #fff;
  z-index: 1;
  width: 90vw;
  height: 14rem;
  margin: auto;
  text-decoration: none;
  background:rgb(137, 25, 243);
  border-radius: 2rem;
}

.rodape a:hover {
  background:rgb(174, 52, 255);
}

/*----RESPONSIVAS----*/

.s1024, .s768, .s425 {
  display: none;
}


/*-----------------------------MEDIA----------------------*/


@media (max-width: 1024px){
.parallax img#foguete {
  bottom: 11rem;
}

.s1024 {
  display: flex;
  bottom: 0;
  left: -50%;
  width: 100vw;
  -webkit-filter: drop-shadow(4px -1px 2px #222);
}
#estrelas_s1024 {
  mix-blend-mode: soft-light;
}

#estrelas,
#nuvem-fundo,
#nuvem-meio,
#nuvem-frente {
  display: none;
}
}

@media (max-width: 768px) 
{
  #estrelas_s768 {
    mix-blend-mode: soft-light;
  }

#estrelas, #nuvem-fundo, #nuvem-meio, #nuvem-frente,.s1024 {
  display: none;
}
  .s768 {
    display: flex;
    -webkit-filter: drop-shadow(4px -1px 2px #222);
  }

  .nav-menu {
    font-size: 0.7rem;
    transition: all 0.3s ease-in-out;
  }

  #titulo {
    display: flex;
    font-size:calc(3.5vw + 3.5vh);
    justify-content: center;
    align-items: center;
    transition: all 0.02s ease-in-out;
    text-align: center;
  }
}

@media (max-width: 425px) {
  #estrelas,
#nuvem-fundo,
#nuvem-meio,
#nuvem-frente,
.s768, .s1024 {
  display: none;
  text-align: center;
}
#titulo {
  text-align: center;
}
.s425 {
  display: flex;
  -webkit-filter: drop-shadow(4px -1px 2px #222);
}

#estrelas_s425 {
  mix-blend-mode: soft-light;
}

}
